<h1>Add Media</h1>
<br>

<%= form_for @band_photo do |f| %>
  <% if @band_photo.errors.any? %>
    <div class = "alert alert-danger">
      <ul>
        <% @band_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>  
  <div class="field">
    <%= f.label :intro, "Comment" %>
    <%= f.text_area :intro, :class => "form-control my-form"%>
  </div>
  <br>

  <div class="field">
    <%= f.label :image, "File(s)" %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <br>
  
  <div class="actions">
    <%= f.submit "Post!", :class => "btn btn-default" %>
  </div>
<% end %>