<h1>Wanted List</h1>
<br><br>

  <% if current_user.user_type == "g" %>
    <p><a href = "/recruitments/new" class = "btn btn-default">Post New Wanted <i class="fas fa-search"></i></a></p>
  <% end %>
  

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">  
        <%= form_tag("/recruitments", method: "get") do %>
              <select name="area" class="search-form">
                <option value="">Area</option>
                <% Area.all.each do |a| %>
                  <option value="<%= "#{a.id}" %>"><%= "#{a.view_country_and_area}" %></option>
                <% end %>
              </select>
              <select name="part" class="search-form">
                <option value="">Part</option>
                <% Part.all.each do |p| %>
                  <option value="<%= "#{p.id}" %>"><%= "#{p.part_name}" %></option>
                <% end %>
              </select>
              <select name="genre" class="search-form">
                <option value="">Genre</option>
                <% Genre.all.each do |g| %>
                  <option value="<%= "#{g.id}" %>"><%= "#{g.genre_name}" %></option>
                <% end %>
              </select>
      </div>    
        
      <div class="col-xs-12 col-sm-5">  
      
          <input type="submit" value="search" class="btn btn-danger r_btn">
          <a href="/recruitments" class = "btn btn-default r_btn">Clear Search</a>
        <% end %>
        <!--end of form-->
      </div>  
    </div>

  <br>
    <% @recruitments.each do |r| %>
      <div class="users-index-item">
        <h4>Looking for <%= Part.find(r.part.to_i).part_name %></h4>
        <p>
          <% if r.user.images.present? %>
            <%= link_to "/users/ #{r.user.id}" do %>
              <%=  image_tag(r.user.images[0].url, :class => "user_icon_nav") %>
            <% end %>
          <% else %>
            <img src="<%= "/user_icon/default_icon.png" %>" class = "user_icon_nav"><a href = "/users/<%= r.user.id %>"> <%= r.user.name %></a>
            <!--<img src="<= "/user_icon/#{r.user.icon}" %>" class = "user_icon_nav"><a href = "/users/<%= r.user.id %>"> <%= r.user.name %></a>-->
          <% end %>
        </p>
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <p class = "r_info"><%= r.r_info %></p>
            <br>
            <p>
              <span class="hash">#<%= Area.find(r.area.to_i).view_country_and_area %></span>
              <span class="hash">#<%= Part.find(r.part.to_i).part_name %></span>
              <span class="hash">#<%= Genre.find(r.genre.to_i).genre_name %></span>            
              <% if r.gender.present? %>
                <span class="hash">#<%= r.gender %></span>
              <% end %>  
            </p>
          </div>
          <!--AppMessage用-->
          <div class="col-xs-12 col-sm-2">
             <% if r.band_id != current_user.id  %>
               <% if AppMessage.where(recruitment_id: r.id).where(user_id: current_user.id).present? %>
               
                <% if @rec_entries.find_by(recruitment_id: r.id).present? %>
                    <% @abc = RecEntry.find_by(recruitment_id: r.id, user_id: current_user.id) %>
                    <!--chatroom作成済みなら既存roomへのリンク-->
                      <%= link_to("Chat Open","/rec_rooms/#{@abc.rec_room_id}",  class: "btn btn-default r_btn") %>
                <% else %>
                    <!--chatroom作成前（募集側がchat開始する前）だったらCancelボタン表示-->
                    <%= link_to "Cancel", "/app_messages/#{r.id}/destroy", class: "btn btn-warning r_btn", method: :delete %>
                  <% end %> 
               <% else %>
                  <%= link_to "Apply", "/app_messages/#{r.id}/new", class: "btn btn-success r_btn" %>
               <% end %>
            <% end %>
          <br>
          </div>
        </div>
        <p class="date">
          <small>Post Date: <%=r.created_at.strftime('%Y-%m-%d %H:%M') %>  Expire Date: <%= r.expired%></small>
        </p>

      </div>
    <% end %>
    <!--end of do-->
    <br>
    <p><a href="/recruitments" class = "btn btn-primary">Back to Wanted List Top</a></p>
  </div>
  
  
  