<h2>Create New Wanted</h2>

<%= form_for @recruitment do |f| %>

  <div class="field">
    <%= f.label :Part %><br>
    <%= f.collection_select :part, Part.all, :id, :part_name, {prompt: false}, {class: "form-control my-form"} %>
  </div>
  
  <!--include_blank↓とprompt↑は何が違うの〜-->
  
  <div class="field">
    <%= f.label :Genre %><br>
    <%= f.collection_select :genre, Genre.all, :id, :genre_name, {include_blank: false}, {class: "form-control my-form"} %>
  </div>
  
  <div class="field">
    <%= f.label :Location %><br>
    <%= f.collection_select :area, Area.all, :id, :view_country_and_area, {prompt: false}, {class: "form-control my-form"} %>
  </div>  
  
  <div class="field">
    <%= f.label :Content %><br>
    <%= f.text_area :r_info, requierd: true, :class => "form-control my-form" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :ExpireDate %><br>
    <%= f.date_field :expired, requierd: true, value: Time.now.next_month.strftime("%Y-%m-%d"), :class => "form-control my-form" %>
  </div>
  
  <br>
  <div class="actions">
    <%= f.submit "Issue", :class => "btn btn-default" %>
  </div>
<% end %>
<!--end of form-->  

