<br>
<div class="row">
  <div class="col-xs-12 col-md-3 text-center">

    <h4>Members</h4>
    <% @rec_entries.each do |re| %>
      <% if re.user.images.present? %>
        <%= link_to "/users/#{re.user_id}" do %>
          <h5><strong> 
            <%=  image_tag(re.user.images[0].url, :class => "user_icon_nav") %> 
            <%= re.user.name %>
          </strong></h5>
        <% end %>  
      <% else %>
        <h5><img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav"> <strong><a href="/users/<%= re.user_id %>"><%= re.user.name %></a></strong></h5>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-9">
    <div class="m_slider">
      <% if @rec_messages.present? %>
        <% @rec_messages.each do |rm| %>
          <% if rm.user_id == current_user.id %>
            <h4 class="text-right">
              <p class="alert alert-success chat">
              <%= rm.content %>
              <br><br>
              <small>
                <a href="/users/<%= rm.user_id %>">
                  <% if current_user.images.present? %>
                    <%=  image_tag(current_user.images[0].url, :class => "user_icon_nav") %>
                  <% else %>
                      <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav">
                  <% end %>
                  <%= rm.user.name %></a>
                <%= rm.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
              </p>
            </h4>
          <% else %>
            <h4 class="text-left">
            <p class="alert alert-info chat">
            <%= rm.content %>
            <br><br>
            <small>
              <a href="/users/<%= rm.user_id %>">
                <% if rm.user.images.present? %>
                    <%=  image_tag(rm.user.images[0].url, :class => "user_icon_nav") %>
                <% else %>
                    <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav">
                    <!--<img src="<= "/user_icon/#{current_user.icon}" %>"  class = "user_icon_nav">-->
                <% end %>
                <%= rm.user.name %></a>
              <%= rm.created_at.strftime('%Y/%m/%d %H:%M') %>
            </small>
            </p>
            </h4>
          <% end %>
        <% end %>
      <% else %>
        <br>
        <h3 class="text-center">Send Something!</h3>
        <br>
      <% end %>
    </div>
    
    <hr>
    <%= form_for @rec_message do |f| %>
      <%= f.text_field :content, :class => "form-control", :placeholder => "Say something" %>
      <%= f.hidden_field :rec_room_id, :value => @rec_room.id %>
      <br>
      <div class="text-center">
        <%= f.submit "Post", :class => "btn btn-primary" %>
      </div>
    <% end %>
    <div class="col-xs-12 text-center">
    <br>
      <% if @rec_room.recruitment.band_id == current_user.id %>
        <%= link_to "Back to Wanted Info", "/recruitments/#{@rec_room.recruitment_id}", class: "btn btn-default" %>
      <% else %>
        <%= link_to "Back to Mypage", "/users/#{current_user.id}", class: "btn btn-default" %>
      <% end %>
    </div>    
  </div>  
    
</div>
