<h1>Friend Status</h1>
<br><br>

<h3>Friend Requests to approve <i class="fas fa-user-plus"></i> <span class="badge nav-badge"><%= @receive_friends.count %></span></h3>
<hr>
<% if @receive_friends.empty? %>
  <div class="comment">No Request to approve</div>
<% else %>
  <% @receive_friends.each do |receive_friend| %>
    <div class="users-index-item">
      <div class="user-left">
        <% if User.find(receive_friend).images.present? %>
          <%=  image_tag(User.find(receive_friend).images[0].url) %>
        <% else %>
          <img src ="<%= "/user_icon/default_icon.png" %>">
          <!--<img src="<= "/user_icon/#{User.find(receive_friend).icon}" %>" >-->
        <% end %>  
      </div>
      <div class = "user-right">
        <%= link_to User.find(receive_friend).name, "/users/#{receive_friend}" %>
        <% if @friend_status = "w" %>
          <%= link_to "Approve", "/friends/#{receive_friend}", method: :post, class: "btn btn-default btn-approve" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<br><br>

<h3>Friend Requests you sent</h3>
<hr>
<% if @request_friends.empty? %>
  <div class="comment">No Sent Request</div>
<% else %>
  <% @request_friends.each do |request_friend| %>
    <div class="users-index-item">
      <div class = "user-left">
        <% if User.find(request_friend).images.present? %>
          <%=  image_tag(User.find(request_friend).images[0].url) %>
        <% else %>  
          <img src ="<%= "/user_icon/default_icon.png" %>">
          <!--<img src="<= "/user_icon/#{User.find(request_friend).icon}" %>" >-->
        <% end %>  
      </div>
      <div class = "user-right">
        <%= link_to User.find(request_friend).name, "/users/#{request_friend}" %>
      </div>
    </div>
  <% end %>
<% end %>
<br><br>

<h3>Friends List</h3>
<hr>
<% if @friends.empty? %>
  <div class="comment">You don't have any connection yet</div>
<% else %>
  <% @friends.each do |friend| %>
    <div class="users-index-item">
      <div class="user-left">
        <% if User.find(friend).images.present? %>
          <%=  image_tag(User.find(friend).images[0].url) %>
        <% else %>        
          <img src ="<%= "/user_icon/default_icon.png" %>">
          <!--<img src="<= "/user_icon/#{User.find(friend).icon}" %>" >-->
        <% end %>  
      </div>
      <div class="user-right">
        <%= link_to User.find(friend).name, "/users/#{friend}" %>
      </div>  
    </div>
  <% end %>
<% end %>
<br><br>
