<h1>User Information</h1>
<hr>

<!--current_userから見たfriend_status-->
<% if @user.id != current_user.id %>
  <% if @friend_status == "" %>
    <p class = "btn btn-default"><%= link_to("Friend Request", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "w" %>
    <p class = "btn btn-default"><%= link_to("Approve", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "r" %>
    <p class = "comment">Waiting...</p>
  <% elsif @friend_status == "f" %>
    <p class = "comment">Already Friend!</p>
      <!--以下DM用btn-->
      <% if @mes_status =="opened" %>
        <p class = "btn btn-default"><%= link_to("Open Message", "/rooms/#{@mes_room}") %></p>      
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value => @user.id %>
          <% end %>
          <%= f.submit "Send Message", :class => "btn btn-default" %>
        <% end %>
      <% end %>
  <% end %>
  <hr>
<% end %>

<!--user_icon + Total Post + Total Friendの部分-->
<div class = "row">
  <div class = "col-sm-12 col-md-6">
    <div class ="row">
      <div class="col-xs-4">
        <% if @user.icon.nil? %>
          <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon">
        <% else %>
          <img src="<%= "/user_icon/#{@user.icon}" %>"  class = "user_icon">
        <% end %>
      </div>  
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-6">
            <p class="number np"><%= @posts.count %></p>
            <p class="number">posts</p>
          </div>
          <div class="col-xs-6">
            <p class="number nf"><%= @nfriends.count %></p>
            <p class="number">friends</p>
          </div>
        </div>
      </div>
    </div>

<!--基本情報-->
    <p>Name: <%= @user.name %>さん </p>
    <p>Favorite Genre: <%= @user.genre %></p>
    <p>Location: <%= @user.area %></p>
    <% if @user.user_type == "i" %>
      <p>Gender: <%= @user.gender %></p>
      <p>Status: <%= @user.waiting %></p>
      <p>Instrument Part: <%= @user.part %></p>
    <% else %>
      <p>Band Master: <%= @user.banmas_id %></p>
    <% end %>
    <p class="profile">Profile: 
    <br>
      <%= @user.profile %>
    </p>
  </div>
  
  <br>

<!--"iのみBelongBand Info(BelongBand)-->
  <div class = "col-sm-12 col-md-6">
  <% if @user.user_type =="i" %>
    <h2 class="header_right">Group(s) </h2>
    <br>
    <% if @belong_bands.empty? %>
      <p>No Group Added</p>
    <% else %>
      <% @belong_bands.each do |bb| %>
        <div class="users-show-item">
          <div class = "user-left">
            
            <% if bb.band.icon.nil? %>
              <img src="<%= "/user_icon/default_icon.png" %>">
            <% else %>
              <img src=" <%= "/user_icon/#{bb.band.icon}" %>" >
            <% end %>      
            
          </div>
          <div class = "user-right">
            <p><a href ="/users/<%= bb.band_id %>"><%= bb.band.name %></a>
              <% if @user.id == current_user.id %>
                <%= link_to("×","/belong_bands/#{bb.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <!--end of do-->
    <% end %>
    <br>
    <% if @user.id == current_user.id %>
      <p><a href = "/belong_bands/new" class = "btn btn-default">Add your Groups</a></p>
    <% end %>  
  <% end %> 
  </div>
  
  
<!--"gのみBandMember Info(BelongBand)-->
  <div class = "col-sm-12 col-md-6">
  <% if @user.user_type =="g" %>
    <h2 class="header_right">Band Member(s)</h2>
    <br>
    <% if @bandmembers.empty? %>
      <p>No Member Added</p>
    <% else %>
      <% @bandmembers.each do |bm| %>
        <div class="users-show-item">
          <div class = "user-left">
            
            <% if bm.user.icon.nil? %>
              <img src="<%= "/user_icon/default_icon.png" %>">
            <% else %>
              <img src=" <%= "/user_icon/#{bm.user.icon}" %>" >
            <% end %>      
            
          </div>
          <div class = "user-right">
            <p><a href ="/users/<%= bm.user_id %>"><%= bm.user.name %></a>
              <% if @user.id == current_user.id %>
                <%= link_to("×","/belong_bands/#{bm.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <!--end of do-->
    <% end %>
    <br>
    <% if @user.id == current_user.id %>
      <p><a href = "/belong_bands/addmem" class = "btn btn-default">Add your Member(s)</a></p>
    <% end %>  
  <% end %> 
  </div>  
</div>

<!--"g"のみMedia Info(BandDetail)-->
<% if @user.user_type == "g" %>

  <hr>
  <br>
  <h2>Media Inforamtion</h2>
  <% if @band_details.empty? %>
    <p>No Media Information</p>
  <% else %>
    <div class="slider">
  　<% @band_details.each do |band_detail| %>
    　<div class="file_item">
        <% if @user.id == current_user.id %>
        <!--ログインしてたら投稿済みのBand Mediaの差し替えリンク有効に > band_details#edit-->
      　   <%= link_to "/band_details/#{band_detail.id}/edit" do %>
      　   <!--松下さん-->
            <% if band_detail.file_type == "mp4" || band_detail.file_type == "mov" || band_detail.file_type == "mov" || band_detail.file_type == "m4v" %>
              <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
            <% else %>
              <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>
            <% end %>
          <% end %>
          <!--end of link do-->
        <% else %>
          <% if band_detail.file_type == "mp4" || band_detail.file_type == "mov" || band_detail.file_type == "mov" || band_detail.file_type == "m4v" %>
            <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
          <% else %>
            <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>
          <% end %>
        <% end %>
        
        <% logger.debug("~~~~~~~~~~~~~~~~~~~~~band_detail_id =  #{band_detail.id}") %>
      </div>
    <% end %>
    <!--end of do-->
    </div>
    
    <h3>Comment</h3>
    <br>
    <p><%= @bdcomment.file_exp %></p>
    <hr>
    
  <% end %>

  <% if @user.id == current_user.id && @band_details.count < 5 %>
  <!--ログインしてて、Band Mediaが最大４つまでの時しかAdd Btn表示しない-->
    <p><a href = "/band_details/new" class = "btn btn-default">Add Media Info</a> <small>*Up to 5-File</small></p>
  <% end %>

<% end %>


<p><a href="/users" class = "btn btn-primary">Back to User List</a></p>
<% if @user.id == current_user.id %>
  <p><a href = "/users/edit" class = "btn btn-success">Edit User Info</a></p>
<% end %>

