<h1>User Information</h1>
<hr>

<% if @user.id != current_user.id %>
  <% if @friend_status == "" %>
    <p class = "btn btn-default"><%= link_to("Friend Request", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "w" %>
    <p class = "btn btn-default"><%= link_to("Approve", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "r" %>
    <p class = "comment">Waiting...</p>
  <% elsif @friend_status == "f" %>
    <p class = "comment">Already Friend!</p>
  <% end %>  
  <hr>
<% end %>
  
<img src="<%= "/user_icon/#{@user.icon}" %>"  class = "user_icon">
<p>Name: <%= @user.name %>さん </p>
<p>Favorite Genre: <%= @user.genre %></p>
<p>Area: <%= @user.area %></p>
<!--<p>Icon: <%= @user.icon %></p>-->
<p>Profile: <%= @user.profile %></p>
<% if @user.user_type == "i" %>
<p>Gender: <%= @user.gender %></p>
<p>Status: <%= @user.waiting %></p>
<p>Instrument Part: <%= @user.part %></p>
<% else %>
<p>Band Master: <%= @user.banmas_id %></p>
<% end %>
<hr>
<p><a href="/users" class = "btn btn-primary">Back to User List</a></p>
<% if @user.id == current_user.id %>
  <p><a href = "/users/edit" class = "btn btn-success">Edit User Info</a></p>
<% end %>

