<h1><%= @user.name %> </h1>
<hr>

<!--current_userから見たfriend_status-->
<% if @user.id != current_user.id %>
  <% if @friend_status == "" %>
    <p class = "btn btn-default"><%= link_to("Friend Request", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "w" %>
    <p class = "btn btn-default"><%= link_to("Approve", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "r" %>
    <p class = "comment">Waiting...</p>
  <% elsif @friend_status == "f" %>
    <p class = "comment">Already Friend!</p>
      <!--以下chat用btn-->
      <% if @mes_status =="opened" %>
        <p class = "btn btn-default"><%= link_to("Open Message", "/rooms/#{@mes_room}") %></p>      
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value => @user.id %>
          <% end %>
          <%= f.submit "Send Message", :class => "btn btn-default" %>
        <% end %>
      <% end %>
  <% end %>
  <hr>
<% end %>
  <!--Block 1 user_icon + Total Post + Total Friendの部分-->
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <% if @user.user_type == "g" %>
        <% if @user.images.present? %>
          <%= image_tag(@user.images[0].url, :class => "user_icon_g") %>
        <% else %>
          <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_g">
        <% end %>
      <% else %>
        <% if @user.images.present? %>
          <%= image_tag(@user.images[0].url, :class => "user_icon") %>
        <% else %>
          <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon">
        <% end %>
      <% end %>  
    </div>

    <div class="col-xs-4 col-md-3">
      <div class="row">
        <div class="col-xs-6">
          <p class="number np"><%= @posts.count %></p>
          <p class="number">posts</p>
          <br>
        </div>
        <div class="col-xs-6">
          <p class="number nf"><%= @nfriends.count %></p>
          <p class="number">friends</p>
          <br>
        </div>
      </div>
    
    <!--基本情報-->
      <div class="row">
        <div class="col-xs-12">
          <span class="hash">#<%= Genre.find(@user.genre.to_i).genre_name %></span>
          <span class="hash">#<%= Area.find(@user.area.to_i).view_country_and_area %></span>
          <% if @user.user_type == "i" %>
            <% if @user.gender.present? %>
              <span class="hash">#<%= @user.gender %></span>
            <% end %>
            <% if @user.part.present? %>
              <span class="hash">#<%= Part.find(@user.part.to_i).part_name %></span>
            <% end %>        
          <% else %>
            <% if @user.banmas_id.present? %>
              <p>Band Master: <%= @user.banmas_id %></p>
            <% end %>  
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <br>
      <div class=" profile users-profile-item">
        <%= @user.profile %>
      </div>  
    </div>

    <div class="col-xs-12">
      <hr>
      <br>
    </div>

  <div class="container">
  <div class = "row">
    <!--"iのみBelongBand Info(BelongBand)-->
    <% if @user.user_type =="i" %>
      <div class = "col-xs-12 col-md-6" style=margin-bottom:20px;>
        <h2 class="header_right">Group </h2>
        <br>
        <% if @belong_bands.empty? %>
          <p>No Group Added</p>
        <% else %>
          <% @belong_bands.each do |bb| %>
            <div class="users-show-item">
              <% if bb.band.user_type == "g" %>
                <div class = "user-left type_g">
                  <% if bb.band.images.present? %>
                    <%=  image_tag(bb.band.images[0].url) %>
                  <% else %>
                    <img src="<%= "/user_icon/default_icon.png" %>">
                  <% end %>      
                </div>
              <% else %>
                <div class = "user-left">
                  <% if bb.band.images.present? %>
                    <%=  image_tag(bb.band.images[0].url) %>
                  <% else %>
                    <img src="<%= "/user_icon/default_icon.png" %>">
                  <% end %>      
                </div>
              <% end %>              
              <div class = "user-right">
                <p><a href ="/users/<%= bb.band_id %>"><%= bb.band.name %></a>
                  <% if @user.id == current_user.id %>
                    <%= link_to("×","/belong_bands/#{bb.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
          <!--end of do-->
        <% end %>
        <br>
        <% if @user.id == current_user.id %>
          <p><a href = "/belong_bands/new" class = "btn btn-default">Add your Groups</a></p>
        <% end %>
      </div>

      <!--Applied Recruitment （iのみ）-->
      <% if @user.id == current_user.id %>
        <div class = "col-xs-12 col-md-6">
          <h2 class="header_right">Applied List</h2>
          <br>
          <% if @app_messages.empty? %>
            <p>You've not applied to any Wanted</p>
          <% else %>
            <% @app_messages.each do |apm| %>
              <div class="users-index-item">
                <div class = "row ">
                  <div class = "col-xs-9 col-sm-7">
                    <h4>Looking for <%= Part.find(apm.recruitment.part.to_i).part_name %></h4>
                  </div>
                  <div class = "col-xs-3 col-sm-2 title">
                    <!--RecMessage未読件数-->
                    <i class="far fa-comments"></i>
                    <% rmcounter = 0 %>
                    <% RecEntry.where(user_id: apm.user_id).each do |rm| %>
                      <% rmcounter = rmcounter + RecMessage.where(rec_room_id: rm.rec_room_id).where.not(user_id: apm.user_id).where(status: "d").count %>
                    <% end %>
                    <span class="badge"><%= rmcounter %></span>
                  </div> 
  
                  <div class = "col-xs-12 col-sm-3 title-btn">
                    <% if @rec_entries.find_by(recruitment_id: apm.recruitment_id) %>
                      <% @abc = RecEntry.find_by(recruitment_id: apm.recruitment_id, user_id: current_user.id) %>
                      <!--chatroom作成済みなら既存roomへのリンク-->
                        <%= link_to("Chat Open","/rec_rooms/#{@abc.rec_room_id}",  class: "btn btn-default r_btn") %>
                    <% else %>
                      <!--chatroom作成前（募集側がchat開始する前）だったらCancelボタン表示-->
                      <%= link_to "Cancel", "/app_messages/#{apm.id}/destroy", class: "btn btn-warning r_btn", method: :delete %>
                    <% end %>  
                  </div>
                </div>
                <p style=margin-top:20px; >
                  <% if apm.recruitment.user.images.present? %>
                    <%=  image_tag(apm.recruitment.user.images[0].url, :class => "user_icon_nav") %> <strong><a href="/users/<%= apm.recruitment.user.id %>"><%= apm.recruitment.user.name %></a></strong>
                  <% else %>
                    <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav"> <strong><a href="/users/<%= apm.recruitment.user.id %>"><%= apm.recruitment.user.name %></a></strong>
                    <!--<img src="<= "/user_icon/#{apm.recruitment.user.icon}" %>"  class = "user_icon_nav"> -->
                  <% end %>
                </p>
                <p class = "r_info r_info_slider"><%= apm.recruitment.r_info %></p>
                <p class="date">
                  <small>Post Date: <%=apm.created_at.strftime('%Y-%m-%d %H:%M') %></small>
                </p>
              </div>
            <% end %>      
          <% end %>
          <br>
          <p><a href = "/recruitments" class = "btn btn-default">Go to Wanted List</a></p>
        </div>
      <% end %>  
    <% end %> 
  </div>
  </div>
  
  <!--"gのみBandMember Info(BelongBand)-->
  <% if @user.user_type =="g" %>
    <div class = "col-xs-12 col-md-6">
      <h2 class="header_right">Band Member</h2>
      <br>
      <% if @bandmembers.empty? %>
        <p>No Member Added</p>
      <% else %>
        <% @bandmembers.each do |bm| %>
          <div class="users-show-item">
            <% if bm.user.user_type == "g" %>
              <div class = "user-left type_g">
                <% if bm.user.images.present? %>
                  <%=  image_tag(bm.user.images[0].url) %>
                <% else %>
                  <img src="<%= "/user_icon/default_icon.png" %>">
                <% end %>      
              </div>
            <% else %>
              <div class = "user-left">
                <% if bm.user.images.present? %>
                  <%=  image_tag(bm.user.images[0].url) %>
                <% else %>
                  <img src="<%= "/user_icon/default_icon.png" %>">
                <% end %>      
              </div>
            <% end %>
            <div class = "user-right">
              <p><a href ="/users/<%= bm.user_id %>"><%= bm.user.name %></a>
                <% if @user.id == current_user.id %>
                  <%= link_to("×","/belong_bands/#{bm.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <!--end of do-->
      <% end %>
      <br>
      <% if @user.id == current_user.id %>
        <p><a href = "/belong_bands/addmem" class = "btn btn-default">Add your Member(s)</a></p>
      <% end %>
      <br>
    </div>
  
    <!--Active Recruitement（gのみ）-->
    <div class = "col-xs-12 col-md-6">
      <h2 class="header_right">Active Wanted</h2>
      <br>
      <% if @recruitments.where(band_id: params[:id]).empty? %>
        <p>No Wanted Post</p>
      <% else %>
        <% @recruitments.where(band_id: params[:id]).each do |r| %>
          <div class="users-index-item r_badge_parent">
            <h4>
            <% if @user.id == current_user.id %>
              <%= link_to "/recruitments/#{r.id}/" do %>
                Looking for <%= Part.find(r.part.to_i).part_name %>
              <% end %>
              <!--AppMessage未読件数-->
                <i class="far fa-comment-alt"></i>
                <span class="badge"><%= AppMessage.where(recruitment_id: r.id).where(status: "a").count %></span>
              <!--RecMessage未読件数-->
                <i class="far fa-comments"></i>
                <% rmbcounter = 0 %>
                <% RecRoom.where(recruitment_id: r.id).each do |rr| %>
                  <% rmbcounter = rmbcounter + RecMessage.where(rec_room_id: rr.id).where.not(user_id: r.band_id).where(status: "d").count %>
                <% end %>
                <span class="badge"><%= rmbcounter %></span>
            <% else %>
                Looking for <%= Part.find(r.part.to_i).part_name %>
              <% end %>  
            </h4>

              <div class="row">
                <div class="col-xs-12 col-sm-10">
                  <p class = "r_info r_info_slider"><%= r.r_info %></p>
                  <p>
                    <span class="hash">#<%= Area.find(r.area.to_i).view_country_and_area %></span>
                    <span class="hash">#<%= Part.find(r.part.to_i).part_name %></span>
                    <span class="hash">#<%= Genre.find(r.genre.to_i).genre_name %></span>            
                    <% if r.gender.present? %>
                      <span class="hash">#<%= r.gender %></span>
                    <% end %>  
                  </p>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <% if r.band_id == current_user.id %>
                        <!--<a href= "/recruitments/<%= "#{r.id}" %>/edit" class = "btn btn-default r_btn">Edit</a>-->
                        <%= link_to "Edit", "/recruitments/#{r.id}/edit", class: "btn btn-default  btn-sm rec_btn" %>
                    <% end %>
                    <% if r.band_id == current_user.id %>
                      <!--<a href= "/recruitments/<= "#{r.id}" %>" class = "btn btn-default">Delete</a>-->
                        <%= link_to "Delete", "/recruitments/#{r.id}", method: :delete, data: { confirm: 'Are you sure you want to delte this item?' }, class: "btn btn-danger btn-sm rec_btn" %>

                    <% end %>
                </div>
              </div>
            <p class="date">
              <small>Post Date: <%=r.created_at.strftime('%Y-%m-%d %H:%M') %>  Expire Date: <%= r.expired%></small>
            </p>
  
          </div>
        <% end %>      
      <% end %>
    </div>  
  <br>
  <% end %> 
</div>

  <!--Jan 4 w/BandPhoto-->
  <!--"g"のみMedia Info(BandDetail)-->
  <% if @user.user_type == "g" %>
  
    <hr>
    <h2>Media Inforamtion</h2>
    <br>
    <% if @band_photo.present? %>

      <div class="slider-box">
        <% cnt = 0 %>
      　<% @band_photo.images.each do |bp| %>
        　<div class="photo_item count_good">
        　   <% ext = bp.file.extension.downcase %><br>
        　   <% if ext == "jpg" || ext == "jpeg" || ext == "png" %>
            　 <!--<= link_to "/photos/edit_image/#{@photo.id}/#{cnt}" do %>-->
              <%= link_to "/band_photos/#{@band_photo.id}/#{cnt}" do %>
                <%=  image_tag(bp.url, :class => "show_pics img-responsive") %>
              <% end %>  
        　   <% elsif ext == "mov" || ext == "mp4" || ext == "webm" %>
              <%= link_to "/band_photos/#{@band_photo.id}/#{cnt}" do %>
                <%= video_tag(bp.url, :autoplay => true, :muted => true, loop: true, :class => "show_pics img-responsive") %>
              <% end %>
        　   <% end %>
          </div>
          <% cnt += 1 %>
        <% end %>
        <!--end of do-->
      </div>
      <p><%= @band_photo.intro %></p>
      <h4><small>Posted by <%= @band_photo.user.name %> @ <%= @band_photo.created_at.strftime('%Y /%m/ %d/ %H:%M') %></small></h4>
      <% if @user.id == current_user.id %>
        <%= link_to "Edit comment", edit_band_photo_path, class: "btn btn-sm btn-default" %>
        <%= link_to "Delete Media", "/band_photos/#{@user.id}", method: :delete, data: { confirm: 'Are you sure you want to DELETE your Medium/Media?' }, class: "btn btn-sm btn-default" %>
      <% end %>
    <% else %>  
      <p>No Media Information</p>
      <% if @user.id == current_user.id %>
      <!--ログインしてて、Band Mediaが最大４つまでの時しかAdd Btn表示しない-->
      <p><a href = "/band_photos/new" class = "btn btn-default">Add Media</a> <small>*Up to 5-File</small></p>
      <% end %>
    <% end %>
  <% end %>

  <hr>
    <p>
      <a href="/users" class = "btn btn-primary">Back to User List</a>
    </p>
    <% if @user.id == current_user.id %>
      <p><a href = "/users/edit" class = "btn btn-success">Edit User Info</a></p>
    <% end %>
  </div>
  </div>
  
  
  
  
  
  
  <!--OLD BandDetail-->
  <!--"g"のみMedia Info(BandDetail)-->
  <!--<% if @user.user_type == "g" %>-->
  
  <!--  <hr>-->
  <!--  <h2>Media Inforamtion</h2>-->
  <!--  <br>-->
  <!--  <% if @band_details.empty? %>-->
  <!--    <p>No Media Information</p>-->
  <!--  <% else %>-->
  <!--    <div class="slider">-->
  <!--  　<% @band_details.each do |band_detail| %>-->
  <!--    　<div class="file_item">-->
  <!--        <% if @user.id == current_user.id %>-->
          <!--ログインしてたら投稿済みのBand Mediaの差し替えリンク有効に > band_details#edit-->
  <!--      　   <%= link_to "/band_details/#{band_detail.id}/edit" do %>-->
        　   <!--松下さん-->
  <!--            <% if band_detail.file_type == "mp4" || band_detail.file_type == "webm" || band_detail.file_type == "m4v" %>-->
  <!--              <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>-->
  <!--            <% else %>-->
  <!--              <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>-->
  <!--            <% end %>-->
  <!--          <% end %>-->
            <!--end of link do-->
  <!--        <% else %>-->
  <!--          <% if band_detail.file_type == "mp4" || band_detail.file_type == "webm" || band_detail.file_type == "m4v" %>-->
  <!--            <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>-->
  <!--          <% else %>-->
  <!--            <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>-->
  <!--          <% end %>-->
  <!--        <% end %>-->
          
  <!--        <% logger.debug("~~~~~~~~~~~~~~~~~~~~~band_detail_id =  #{band_detail.id}") %>-->
  <!--      </div>-->
  <!--    <% end %>-->
      <!--end of do-->
  <!--    </div>-->
      
  <!--    <h3>Comment</h3>-->
  <!--    <br>-->
  <!--    <p><%= @bdcomment.file_exp %></p>-->
      
  <!--  <% end %>-->
  
  <!--  <% if @user.id == current_user.id && @band_details.count < 5 %>-->
    <!--ログインしてて、Band Mediaが最大４つまでの時しかAdd Btn表示しない-->
  <!--    <p><a href = "/band_details/new" class = "btn btn-default">Add Media Info</a> <small>*Up to 5-File</small></p>-->
  <!--  <% end %>-->
  <!--    <hr>-->
  <!--<% end %>  -->
