<h1><%= @user.name %> </h1>
<hr>

<!--current_userから見たfriend_status-->
<% if @user.id != current_user.id %>
  <% if @friend_status == "" %>
    <p class = "btn btn-default"><%= link_to("Friend Request", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "w" %>
    <p class = "btn btn-default"><%= link_to("Approve", "/friends/#{@user.id}", {method: "post"}) %></p>
  <% elsif @friend_status == "r" %>
    <p class = "comment">Waiting...</p>
  <% elsif @friend_status == "f" %>
    <p class = "comment">Already Friend!</p>
      <!--以下chat用btn-->
      <% if @mes_status =="opened" %>
        <p class = "btn btn-default"><%= link_to("Open Message", "/rooms/#{@mes_room}") %></p>      
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value => @user.id %>
          <% end %>
          <%= f.submit "Send Message", :class => "btn btn-default" %>
        <% end %>
      <% end %>
  <% end %>
  <hr>
<% end %>

  <!--user_icon + Total Post + Total Friendの部分-->
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <% if @user.icon.nil? %>
        <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon">
      <% else %>
        <img src="<%= "/user_icon/#{@user.icon}" %>"  class = "user_icon">
      <% end %>
    </div>

    <div class="col-xs-4 col-md-3">
      <div class="row">
        <div class="col-xs-6">
          <p class="number np"><%= @posts.count %></p>
          <p class="number">posts</p>
          <br>
        </div>
        <div class="col-xs-6">
          <p class="number nf"><%= @nfriends.count %></p>
          <p class="number">friends</p>
          <br>
        </div>
      </div>
    
    <!--基本情報-->
      <div class="row">
        <div class="col-xs-12">
          <span class="hash">#<%= @user.genre %></span>
          <span class="hash">#<%= @user.area %></span>
          <% if @user.user_type == "i" %>
            <% if @user.gender.present? %>
              <span class="hash">#<%= @user.gender %></span>
            <% end %>
            <% if @user.part.present? %>
              <span class="hash">#<%= @user.part %></span>
            <% end %>        
          <% else %>
            <% if @user.banmas_id.present? %>
              <p>Band Master: <%= @user.banmas_id %></p>
            <% end %>  
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <br>
      <div class=" profile users-profile-item">
        <%= @user.profile %>
      </div>  
    </div>
    <div class="col-xs-12">
      <hr>
      <br>
    </div>  

<div class = "row">
  <!--"iのみBelongBand Info(BelongBand)-->
  <% if @user.user_type =="i" %>
    <div class = "col-sm-12 col-md-6">
      <h2 class="header_right">Group </h2>
      <br>
      <% if @belong_bands.empty? %>
        <p>No Group Added</p>
      <% else %>
        <% @belong_bands.each do |bb| %>
          <div class="users-show-item">
            <div class = "user-left">
              
              <% if bb.band.icon.nil? %>
                <img src="<%= "/user_icon/default_icon.png" %>">
              <% else %>
                <img src=" <%= "/user_icon/#{bb.band.icon}" %>" >
              <% end %>      
              
            </div>
            <div class = "user-right">
              <p><a href ="/users/<%= bb.band_id %>"><%= bb.band.name %></a>
                <% if @user.id == current_user.id %>
                  <%= link_to("×","/belong_bands/#{bb.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <!--end of do-->
      <% end %>
      <br>
      <% if @user.id == current_user.id %>
        <p><a href = "/belong_bands/new" class = "btn btn-default">Add your Groups</a></p>
      <% end %>
    </div>  
      
    <!--【WIP】"iのみAppMessage（応募済一覧）【WIP】-->
    <% if @user.id == current_user.id %>
      <div class = "col-sm-12 col-md-6">
        <h2 class="header_right">Applied List</h2>
        <br>
        <% if @app_messages.empty? %>
          <p>You've not applied to any Wanted</p>
        
        <% else %>
          <% @app_messages.each do |apm| %>
            <div class="users-index-item r_badge_parent">
              <div class = "row">
                <div class = "col-xs-5">
                  <h4>Looking for <%= Part.find(apm.recruitment.part.to_i).part_name %></h4>
                </div> 
                <div class = "col-xs-3">
                  <% if apm.recruitment.user.icon.nil? %>
                    <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav"> <strong><a href="/users/<%= apm.recruitment.user.id %>"><%= apm.recruitment.user.name %></a></strong>
                  <% else %>
                    <img src="<%= "/user_icon/#{apm.recruitment.user.icon}" %>"  class = "user_icon_nav"> <strong><a href="/users/<%= apm.recruitment.user.id %>"><%= apm.recruitment.user.name %></a></strong>
                  <% end %>
                </div>
                <div class = "col-xs-4">
                  <% if @rec_entries.find_by(recruitment_id: apm.recruitment_id) %>
                    <% @abc = RecEntry.find_by(recruitment_id: apm.recruitment_id, user_id: current_user.id) %>
                      <%= link_to("Chat Open","/rec_rooms/#{@abc.rec_room_id}",  class: "btn btn-default r_btn") %>
                  <% end %>
                </div>
              </div>
                      
              
              <!--未読件数-->
                <!--<i class="far fa-comments r_budge_icon"></i>-->
                <!--<span class="badge r_badge"><= AppMessage.where(recruitment_id: r.id).where(status: "a").count %></span>-->
  
              <p class = "r_info r_info_slider"><%= apm.recruitment.r_info %></p>
              <div class = "row">
                <div class = "col-xs-8">
                  <p class="date">
                    <small>Post Date: <%=apm.created_at.strftime('%Y-%m-%d %H:%M') %></small>
                  </p>
                </div>
                <div class = "col-xs-4">
                  <%= link_to "Cancel", "/app_messages/#{apm.id}/destroy", class: "btn btn-warning r_btn", method: :delete %>
                </div>
              </div>  
            </div>
          <% end %>      
        <% end %>
        <br>
        <p><a href = "/recruitments" class = "btn btn-default">Go to Wanted List</a></p>
      </div>
    <% end %>  
  <% end %> 
</div>
  
<!--"gのみBandMember Info(BelongBand)-->
  <% if @user.user_type =="g" %>
    <div class = "col-sm-12 col-md-6">
      <h2 class="header_right">Band Member</h2>
      <br>
      <% if @bandmembers.empty? %>
        <p>No Member Added</p>
      <% else %>
        <% @bandmembers.each do |bm| %>
          <div class="users-show-item">
            <div class = "user-left">
              
              <% if bm.user.icon.nil? %>
                <img src="<%= "/user_icon/default_icon.png" %>">
              <% else %>
                <img src=" <%= "/user_icon/#{bm.user.icon}" %>" >
              <% end %>      
              
            </div>
            <div class = "user-right">
              <p><a href ="/users/<%= bm.user_id %>"><%= bm.user.name %></a>
                <% if @user.id == current_user.id %>
                  <%= link_to("×","/belong_bands/#{bm.id}/destroy", method: :post, class: "btn btn-default btn-approve") %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <!--end of do-->
      <% end %>
      <br>
      <% if @user.id == current_user.id %>
        <p><a href = "/belong_bands/addmem" class = "btn btn-default">Add your Member(s)</a></p>
      <% end %>
      <br>
    </div>
  
    <!--Active Recruitement（gのみ）-->
    <div class = "col-sm-12 col-md-6">
      <h2 class="header_right">Active Wanted</h2>
      <br>
      <% if @recruitments.where(band_id: params[:id]).empty? %>

        <p>No Wanted Post</p>
      <% else %>
        <% @recruitments.where(band_id: params[:id]).each do |r| %>
          <div class="users-index-item r_badge_parent">
            
            <h4>
            <% if @user.id == current_user.id %>
              <%= link_to "/recruitments/#{r.id}/" do %>
                Looking for <%= Part.find(r.part.to_i).part_name %>
              <!--未読件数-->
                <i class="far fa-comment-alt r_budge_icon"></i>
                <span class="badge r_badge"><%= AppMessage.where(recruitment_id: r.id).where(status: "a").count %></span>
              <% end %>
            <% else %>
                Looking for <%= Part.find(r.part.to_i).part_name %>
              <% end %>  
            </h4>

              <div class="row">
                <div class="col-xs-10">
                  <p class = "r_info r_info_slider"><%= r.r_info %></p>
                  <br>
                  <p>
                    <span class="hash">#<%= Area.find(r.area.to_i).view_country_and_area %></span>
                    <span class="hash">#<%= Part.find(r.part.to_i).part_name %></span>
                    <span class="hash">#<%= Genre.find(r.genre.to_i).genre_name %></span>            
                    <% if r.gender.present? %>
                      <span class="hash">#<%= r.gender %></span>
                    <% end %>  
                  </p>
                </div>
                <div class="col-xs-2">
                    <% if r.band_id == current_user.id %>
                        <!--<a href= "/recruitments/<%= "#{r.id}" %>/edit" class = "btn btn-default r_btn">Edit</a>-->
                        <%= link_to "Edit", "/recruitments/#{r.id}/edit", class: "btn btn-default  btn-sm r_btn" %>
                    <% end %>
                      <br>
                    <% if r.band_id == current_user.id %>
                      <!--<a href= "/recruitments/<= "#{r.id}" %>" class = "btn btn-default">Delete</a>-->
                        <%= link_to "Delete", "/recruitments/#{r.id}", method: :delete, data: { confirm: 'Are you sure you want to delte this item?' }, class: "btn btn-danger btn-sm r_btn" %>

                    <% end %>
                </div>
              </div>
            <p class="date">
              <small>Post Date: <%=r.created_at.strftime('%Y-%m-%d %H:%M') %>  Expire Date: <%= r.expired%></small>
            </p>
  
          </div>
        <% end %>      
      <% end %>
    </div>  
  <br>
    
  <% end %> 
</div>

  <!--"g"のみMedia Info(BandDetail)-->
  <% if @user.user_type == "g" %>
  
    <hr>
    <h2>Media Inforamtion</h2>
    <br>
    <% if @band_details.empty? %>
      <p>No Media Information</p>
    <% else %>
      <div class="slider">
    　<% @band_details.each do |band_detail| %>
      　<div class="file_item">
          <% if @user.id == current_user.id %>
          <!--ログインしてたら投稿済みのBand Mediaの差し替えリンク有効に > band_details#edit-->
        　   <%= link_to "/band_details/#{band_detail.id}/edit" do %>
        　   <!--松下さん-->
              <% if band_detail.file_type == "mp4" || band_detail.file_type == "mov" || band_detail.file_type == "mov" || band_detail.file_type == "m4v" %>
                <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
              <% else %>
                <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>
              <% end %>
            <% end %>
            <!--end of link do-->
          <% else %>
            <% if band_detail.file_type == "mp4" || band_detail.file_type == "mov" || band_detail.file_type == "mov" || band_detail.file_type == "m4v" %>
              <%= video_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
            <% else %>
              <%= image_tag "/bands/#{band_detail.user_id}/#{band_detail.file_name}", :class => "show_pic img-responsive full-width" %>
            <% end %>
          <% end %>
          
          <% logger.debug("~~~~~~~~~~~~~~~~~~~~~band_detail_id =  #{band_detail.id}") %>
        </div>
      <% end %>
      <!--end of do-->
      </div>
      
      <h3>Comment</h3>
      <br>
      <p><%= @bdcomment.file_exp %></p>
      
    <% end %>
  
    <% if @user.id == current_user.id && @band_details.count < 5 %>
    <!--ログインしてて、Band Mediaが最大４つまでの時しかAdd Btn表示しない-->
      <p><a href = "/band_details/new" class = "btn btn-default">Add Media Info</a> <small>*Up to 5-File</small></p>
    <% end %>
      <hr>
  <% end %>
  
  
    <p>
      <a href="/users" class = "btn btn-primary">Back to User List</a>
    </p>
    <% if @user.id == current_user.id %>
      <p><a href = "/users/edit" class = "btn btn-success">Edit User Info</a></p>
    <% end %>
 
  </div>
