<br>
<div class="row">
  <div class="col-xs-12 col-md-3 text-center">

  <hr>
    <h4>Members</h4>
    <% @entries.each do |e| %>
      <% if e.user.images.present? %>
        <%= link_to "/users/#{e.user_id}" do %>
          <h5><strong>
            <%= image_tag(e.user.images[0].url, :class => "user_icon_nav") %> 
            <%= e.user.name %>
          </strong></h5>
        <% end %>
      <% else %>
        <h5><img src="<%= "/user_icon/default_icon.png" %>" class="user_icon_nav"><strong><a href="/users/<%= e.user.id %>"> <%= e.user.name %></a></strong></h5>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-9">
    <div class="m_slider">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <% if m.user_id == current_user.id %>
            <h4 class="text-right">
              <p class="alert alert-warning chat">
              <%= m.content %>
              <br><br>
              <small>
                <strong>
                  <a href="/users/<%= m.user_id %>">
                    <% if current_user.images.present? %>
                      <%=  image_tag(current_user.images[0].url, :class => "user_icon_nav") %>
                    <% else %>
                        <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav">
                        <!--<img src="<= "/user_icon/#{current_user.icon}" %>"  class = "user_icon_nav">-->
                    <% end %>
                    <%= m.user.name %></a>
                </strong>
                <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
              </small>
              </p>
            </h4>
          <% else %>
            <h4 class="text-left">
            <p class="alert alert-info chat">
            <%= m.content %>
            <br><br>
            <small>
              <strong>
                <a href="/users/<%= m.user_id %>">
                  <% if m.user.images.present? %>
                    <%=  image_tag(m.user.images[0].url, :class => "user_icon_nav") %>
                  <% else %>
                    <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav">
                      <!--<img src="<= "/user_icon/#{current_user.icon}" %>"  class = "user_icon_nav">-->
                  <% end %>
                  <%= m.user.name %></a>
              </strong>
              <%= m.created_at.strftime('%Y/%m/%d %H:%M') %>
            </small>
            </p>
            </h4>
          <% end %>
        <% end %>
      <% else %>
        <br>
        <h3 class="text-center">Send Something!</h3>
        <br>
      <% end %>
    </div>
    
    <hr>
    <%= form_for @message do |f| %>
      <%= f.text_field :content, :class => "form-control", :placeholder => "Say something" %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <br>
      <div class="text-center">
        <%= f.submit "Post", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>