<h1>Add Your Member(s)!</h1>
<br><br>

<%= form_tag("/belong_bands/addmem",method:"get") do %>
<input type="text" name="search" class ="search-form my-form">
<input type="submit" value="search" class = " btn btn-default search-btn">
<% end %>

<br>

<% @users.each do |u| %>
  <% if u.user_type == "i" %>
    <div class = "users-index-item">
      <div class = "user-left">
        
        <% if u.images.present? %>
          <%=  image_tag(u.images[0].url) %>
        <% else %>
          <img src ="<%= "/user_icon/default_icon.png" %>">
          <!--<img src = "<= "/user_icon/#{u.icon}" %>">-->
        <% end %>  
      </div>
      <div class = "user-right">
        <p><a href = "/users/<%= u.id %>"><%= u.name %></a>
          <!--<p class = "btn btn-default">< link_to("Add to Member(s)", "/belong_bands/#{u.id}/createmem", {method: "post"}) %></p>-->
          <%= link_to("Add", "/belong_bands/#{u.id}/createmem", method: :post, class: "btn btn-default btn-approve") %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
<!--end of do-->
<br>
<a href = "/posts" class = "btn btn-default">Back to Top</a>




