<h1>Add Groups!</h1>
<br><br>

<%= form_tag("/belong_bands/new",method:"get") do %>
<input type="text" name="search" class ="search-form my-form">
<input type="submit" value="search" class = " btn btn-default search-btn">
<% end %>

<br>

<% @users.each do |u| %>
  <% if u.user_type == "g" %>
    <div class = "users-index-item">
      <div class = "user-left">
        
        <% if u.images.present? %>
          <%=  image_tag(u.images[0].url) %>
        <% else %>
          <img src ="<%= "/user_icon/default_icon.png" %>">
          <!--<img src = "<= "/user_icon/#{u.icon}" %>">-->
        <% end %>  
      </div>
      <div class = "user-right">
        <p><a href = "/users/<%= u.id %>"><%= u.name %></a>
          <% if BelongBand.find_by(user_id: current_user.id, band_id: u.id) %>
            <span class="badge badge-secondary">Member</span>
          <% else %>  
            <%= link_to("My Group", "/belong_bands/#{u.id}/create", method: :post, class: "btn btn-default btn-approve") %>
          <% end %>  
        </p>
      </div>
    </div>
  <% end %>
<% end %>
<!--end of do-->
<br>
<a href = "/photos" class = "btn btn-default">Back to Top</a>




