<h1>Posts List</h1>
<br><br>

  <div class="container">
    <% @posts.in_groups_of(1000, false).each do |group| %>
      <div class="row">
        <% group.each do |p| %>
        <!--@posts.each do |p|-->
          <div class="col-sm-6 col-md-4 count_container">
            <div class="">
             <% if PostDetail.find_by(post_id: p.id).present? %>
              <% @count = 0 %>
                <% @count = PostDetail.where(post_id: p.id).count  %>
                  <%= link_to "posts/#{p.id}" do %>
                  <!--松下さん-->
                  <% post_detail = PostDetail.find_by(post_id: p.id) %>
                    <% if post_detail.file_type == "mp4" || post_detail.file_type == "webm" || post_detail.file_type == "m4v" %>
                      <%= video_tag "/pics/#{p.id}/#{PostDetail.find_by(post_id: p.id).file_name}", autoplay: true, muted: true, loop: true, :class => "post_pic img-responsive full-width" %>
                    <%else%>
                      <% logger.debug("~~~~~~~~~~~~~~~~~~~~~file_name =  #{p.id}") %>
                      <%= image_tag "/pics/#{p.id}/#{PostDetail.find_by(post_id: p.id).file_name}", :class => "post_pic img-responsive full-width" %>
                    <% end %>
                  <% end %>
                    <!--<div class="count">-->
                  <% if @count > 1 %>
                    <span class="count far fa-images"> <%= @count %></span>
                  <% end %>
                  <!--Total Likes Count-->
                  <% pds=PostDetail.where(post_id: p.id) %>
                  <% pds.ids %>
                  <% @tl=Like.where(post_detail_id: pds.ids).count %>
                  <span class="fab fa-itunes-note total-like"> <%= @tl %></span>
                    <!--</div>-->
             <% end %>
            </div>
          </div>
        <% end %> <!--group.each-->
      </div>
    <% end %>
  </div>

