<h1>Post Information</h1>
<hr>

<div class="slider">
　<% @post_details.each do |post_detail| %>
　<div class="file_item">
　  <div class="count_like">
　    
  　  <!--松下さん-->
  　  <% if post_detail.file_type == "mp4" || post_detail.file_type == "mov" || post_detail.file_type == "mov" || post_detail.file_type == "m4v" %>
  　    <%= video_tag "/pics/#{post_detail.post_id}/#{post_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
  　  <% else %>
        <%= image_tag "/pics/#{post_detail.post_id}/#{post_detail.file_name}", :class => "show_pic img-responsive full-width" %>
      <% end %>
      <% logger.debug("~~~~~~~~~~~~~~~~~~~~~post_detail_id =  #{post_detail.id}") %>
      <% if Like.find_by(user_id: current_user.id, post_detail_id: post_detail.id) %>
        <%= link_to("/likes/#{post_detail.post_id}/#{post_detail.id}/destroy", {method: "post"}) do %>
          <span class="fab fa-itunes-note like-btn-unlike"></span>
        <% end %>  
        <!--end of link-->
      <% else %>
      <%= link_to("/likes/#{post_detail.post_id}/#{post_detail.id}/create", {method: "post"}) do %>
        <span class="fab fa-itunes-note like-btn"></span>
      <% end %>
      <!--end of link-->
    <% end %>
    <span class="like_detail_count"><%= Like.where(post_detail_id: post_detail.id).count %></span>
    </div>
  </div>
  <% end %>
  <!--end of each-->
</div>  

<hr>
  <p>投稿者：
    <% if @post.user.icon.nil? %>
      <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav"><a href = "/users/<%= @post.user.id %>"> <%= @post.user.name %></a></p>
    <% else %>    
      <img src="<%= "/user_icon/#{@post.user.icon}" %>"  class = "user_icon_nav"><a href = "/users/<%= @post.user.id %>"> <%= @post.user.name %></a></p>
    <% end %>
  <p>コメント：<%= @post.content %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  
<hr>
<!--参考 from users#show.html.erb  -->
  <% if @post.writer_id == current_user.id %>
    <p class = "btn btn-sm btn-default"><%= link_to("Delete this Post", "/posts/#{@post.id}", {method: "delete"}) %></p>
  <% end %>
<!--参考 from registration_edit_html.erb-->
