<h1>Post Information</h1>
<hr>

<div class="slider">
　<% @post_details.each do |post_detail| %>
　<div class="count_like">
　  <!--松下さん-->
　  <% if post_detail.file_type == "mp4" || post_detail.file_type == "mov" || post_detail.file_type == "mov" || post_detail.file_type == "m4v" %>
　    <%= video_tag "/pics/#{post_detail.post_id}/#{post_detail.file_name}", autoplay: true, muted: true, loop: true, :class => "show_pic img-responsive full-width" %>
　  <% else %>
      <%= image_tag "/pics/#{post_detail.post_id}/#{post_detail.file_name}", :class => "show_pic img-responsive full-width" %>
    <% end %>
    <% logger.debug("~~~~~~~~~~~~~~~~~~~~~post_detail_id =  #{post_detail.id}") %>
    <% if Like.find_by(user_id: current_user.id, post_detail_id: post_detail.id) %>
      <!--link_to("Liked", "/likes/#{post_detail.post_id}/#{post_detail.id}/destroy", {method: "post"})-->
      <%= link_to("/likes/#{post_detail.post_id}/#{post_detail.id}/destroy", {method: "post"}) do %>
        <span class="fab fa-itunes-note like-btn-unlike"></span>
      <% end %>      
    <% else %>
      <!--Click to like!-->
      <!--link_to("Like!", "/likes/#{post_detail.post_id}/#{post_detail.id}/create", {method: "post"})-->
      <%= link_to("/likes/#{post_detail.post_id}/#{post_detail.id}/create", {method: "post"}) do %>
        <span class="fab fa-itunes-note like-btn"></span>
      <% end %>
    <% end %>
    <span class="like_detail_count"><%= Like.where(post_detail_id: post_detail.id).count %></span>
  </div>
  <% end %>
</div>  

<hr>
  <!--Nov_13-->
  <p>投稿者：<a href = "/users/<%= @post.user.id %>"><img src="<%= "/user_icon/#{@post.user.icon}" %>"  class = "user_icon_nav"></a> <%= @post.user.name %></p>
  <p>コメント：<%= @post.content %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  
<hr>
<!--参考 from users#show.html.erb  -->
  <p class = "btn btn-sm btn-default"><%= link_to("Delete this Post", "/posts/#{@post.id}", {method: "delete"}) %></p>
<!--参考 from registration_edit_html.erb-->
