<h1>You wan to replace this file?</h1>
<br><br>

  <% @filename = @band_detail.file_name.split(".")[0] %>
  <% if @band_detail.file_type == "mp4" || @band_detail.file_type == "webm" || @band_detail.file_type == "m4v" %>
    <%= video_tag "/bands/#{@band_detail.user_id}/#{@filename}.#{@band_detail.file_type}", autoplay: true, muted: true, loop: true, :class => "replacevideopreview" %>
  <% else %>
    <%= image_tag "/bands/#{@band_detail.user_id}/#{@filename}.#{@band_detail.file_type}", :class => "replacepreview" %>
  <% end %>  

  <%= form_for @band_detail, :html => { multipart: true } do |f| %>
  
  
    <div class="field">
      <%= f.label :file_name %><br />
      <ul class="file_post">
        <li class="file_post">
          <span class="btn btn-large btn-success btn-file">
            Choose File
            <%= f.file_field :file_name, {:class => ""} %>
          </span>
        </li>
      </ul>
    </div>
  
    <!--<div class="field">-->
    <!--   f.label :Comment %><br />-->
    <!--   f.text_area :file_exp, :class => "form-control my-form" %>-->
    <!--</div>  -->
  
  <br>
    <div class="actions">
      <%= f.submit "Post!", :class => "btn btn-default" %>
    </div>
  <% end%>
