<!DOCTYPE html>
<html>
  <head>
    <title>Bandstagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= favicon_link_tag('/favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!--Google Font-->
  </head>
  <body>
    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">BandstaGram</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            
              <!--Post-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Post
                <i class="fas fa-camera-retro"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/posts/new">New Post!</a>
                  <a class="dropdown-item" href="/posts">Posts List</a>
                </div>
              </li>            

              <!--Wanted-->
              <li>
                <a href = "/recruitments">
                  Wanted
                  <i class="fas fa-search"></i>
                </a>
              </li>

              <!--AppMessageの未読件数（gのみ）-->
              <% counter = 0 %>
              <% Recruitment.where(band_id: current_user.id).each do |recruitment| %>
              <%  counter = counter + AppMessage.where(recruitment_id: recruitment.id).where(status: "a").count %>
              <% end %>
              <% if current_user.user_type == "g" %>
                <li>
                  <a href = "/users/<%= current_user.id %>">
                    <i class="fas fa-exclamation"></i>
                    <span class="badge nav-badge"><%= counter %></span>
                  </a>
                </li>
              <% end %>  

              <!--Friends-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Friends
                  <i class="fas fa-user-friends"></i>
                  <!--Friend Request受信数-->
                  <% @receive_friends = [] %>
                  <% Friend.where(followed: current_user.id).each do |f| %>
                    <% if !Friend.find_by('follower = ? and followed = ?', current_user.id, f.follower) %>
                	    <span class="badge nav-badge"><%= @receive_friends.push(f.follower).count %></span>
                    <% end %>
                  <% end %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/friends">Friend status
                    <!--Friend Request受信数-->
                    <% @receive_friends = [] %>
                    <% Friend.where(followed: current_user.id).each do |f| %>
                      <% if !Friend.find_by('follower = ? and followed = ?', current_user.id, f.follower) %>
                  	    <span class="badge nav-badge"><%= @receive_friends.push(f.follower).count %></span>
                      <% end %>
                    <% end %>      
                    
                  </a>
                  <a class="dropdown-item" href="/users">User list</a>
                </div>
              </li>

              <!--user.icon-->
              <% if current_user.icon.nil? %>
                <li>
                  <a href = "/users/<%= current_user.id %>"><%= current_user.name %> <img src="<%= "/user_icon/default_icon.png" %>"  class = "user_icon_nav"></a>
                </li>              
              <% else %>
                <li>
                  <a href = "/users/<%= current_user.id %>"><%= current_user.name %> <img src="<%= "/user_icon/#{current_user.icon}" %>"  class = "user_icon_nav"></a>
                </li>
              <% end %>
              
              <!--RecMessageの未読件数-->
              <% rmcounter = 0 %>
              <% RecEntry.where(user_id: current_user.id).each do |rm| %>
                <% rmcounter = rmcounter + RecMessage.where(rec_room_id: rm.rec_room_id).where.not(user_id: current_user.id).where(status: "d").count %>
              <% end %>
              <li>
                <a href = "/users/<%= current_user.id %>">
                  <i class="far fa-comments"></i>
                  <span class="badge"><%= rmcounter %></span>
                </a>
              </li>

              <!--signout-->
              <li><%= link_to  destroy_user_session_path, :method => :delete do %>
                Sign out <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>

            <% else %>
              <li><a href = "/users/sign_up">Sign up <i class="fas fa-user-plus"></i></a></li>
              <li><a href = "/users/sign_in">Sign in <i class="fas fa-sign-in-alt"></i></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container main-page">
      <% if notice %>
        <br>
        <p class = "alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <br>
        <p class = "alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
    </div>
    
    <!--<footer class ="footer">-->
    <!--  <div class = "container">-->
    <!--    <div class = "text-muted">BandstaGram</div>-->
    <!--  </div>-->
    <!--</footer>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
  </body>
</html>